<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="pointer" routerLink="/" style="cursor: pointer">
            <!--            <h3 class="fw-bold mb-0">-->
            <!--              <span class="iconify" data-icon="material-symbols:image-outline"></span>-->
            <!--              <span class="fs-5 ms-2"></span>-->
            <!--            </h3>-->
            <div> <p class="fw-bold text-light mb-0">User Management</p></div>
          </div>
<!--          <div class="dropdown">-->
<!--            <a-->
<!--              class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"-->
<!--              href="#"-->
<!--              id="dropdownUser"-->
<!--              role="button"-->
<!--              data-bs-toggle="dropdown"-->
<!--              aria-expanded="false"-->
<!--            >-->
<!--              <div>-->
<!--                <p class="fw-bold text-light mb-0">{{user?.firstName +  "  " + user?.lastName}}</p>-->
<!--                <p class="mb-0 small text-light fw-light">{{user?.email}}</p>-->
<!--              </div>-->
<!--            </a>-->
<!--&lt;!&ndash;            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a class="dropdown-item" [routerLink]="'/user'"><span class="iconify" data-icon="eva:info-outline"></span> View Details</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li><a class="dropdown-item" (click)="logOut()"><span class="iconify" data-icon="fa-solid:sign-out-alt"></span> Sign out</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->

<!--          </div>-->
        </div>
      </div>
    </div>
  </nav>
</header>
